@font-face {
    font-family: "RampartOne";
    src: url("fonts/RampartOne-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkslategray;
}

html, body{
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

.nav ul{
    margin: 0;
}

.main-header{
    background-image: url("images/orangeBg.gif");
    transition-duration: 0.5s;
    background-size: auto;
    padding-bottom: 30px;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: whitesmoke;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.main-nav li{
    padding: 5%;
    align-items: center;
}


.main-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid whitesmoke;
}

.main-site-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "RampartOne";
    font-weight: normal;
    color: whitesmoke;
    margin-top: 2%;
    animation: grow-and-shrink alternate 5s infinite;
}

.content-section{
    margin: 1em;
    line-height: 1.5em;
}

.container{
    margin: 0 auto;
    padding: 0 1.5em;
    position: relative;
}

.section-header{
    text-align: center;
}

.main-footer{
    background-image: url("images/orangeBg.gif");
    transition-duration: 0.5s;
}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img{
    height: 50px;
    width: 50px;
}

.main-footer-container h3{
    color: black;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header{
    margin: .5em 15% 2em 15%;
    color: darkslategray;
    border: 2px solid whitesmoke;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5em;
    font-weight: lighter;
}

.btn-header:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.run-row:last-child{
    border-bottom: none;
}

.game-container{
    margin: 30px;
}

.game-title{
    display:block;
    width:100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.game-img{
    height:200px;
    width:200px;
}

.all-games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
}

.basic-info{
    text-align: center;
    padding: 5px;
    size: 1.2em;
    background-color:antiquewhite;
}

.lil-icon{
    height: 1em;
    width: auto;
    vertical-align:text-bottom;
}

.poweredByStrava{
    height: 2em;
    width: auto;
    translate: 0 0.5em;
}

model-viewer{
    height: 250px;
    width: 250px;
    margin: 0px;
}

.citation{
    display:inline-block;
    width:100%;
    text-align:center;
    color:orange;
    font-weight: lighter;
    font-size: 0.85em;
}

.three-d-model{
    display:block;
    margin: 5px;
    float: left;
    position: relative;
}

.centered-text{
    text-align: center;
}

.who-box{
    font-size: larger;
    padding: 20px 100px;
    border-radius: 10px;
    color: black;
    cursor:default;
    transition-duration: 1s;
}
.who-box:hover{
    scale: 1.2;
}

#runner-box{
    border: 2px solid #1a237e;
    background-color:#5c6bc080;
}
#dev-box{
    border: 2px solid #056f00;
    background-color:#2baf2b80;
}

.runner-info{
    text-align: center;
    padding: 5px;
    size: 1.2em;
    background-color: #7986cb;
}
.dev-info{
    text-align: center;
    padding: 5px;
    size: 1.2em;
    background-color: #42bd41;
}

#basic-card{
    position:relative;
    transition-duration: 1s;
}
#basic-card.move-right{
    translate: 120% 0;
}
#runner-card{
    bottom:0px;
    width: 97%;
    position:absolute;
    transition-duration: 1s;
    translate: -120% 0;
}
#runner-card.move-right{
    translate: 0% 0;
}
#dev-card{
    bottom:0px;
    width: 97%;
    position:absolute;
    transition-duration: 1s;
    translate: -120% 0;
}
#dev-card.move-right{
    translate: 0% 0;
}

body{
    transition-duration: 0.5s;
}
body.trans-to-blue{
    background-color: #5c6bc0;
}
body.trans-to-green{
    background-color: #2baf2b;
}
.trans-to-runner{
    background-image: url(images/runnerBg.gif);
}
.trans-to-dev{
    background-image: url(images/devBg.gif);
}

@keyframes slowly-loop {
    from{
        transform: translateX(-32px);
    }
    to{
        transform: translateX(32px);
    }
}
@keyframes slowly-loop-reverse {
    from{
        transform: translateX(32px);
    }
    to{
        transform: translateX(-32px);
    }
}

@keyframes grow-and-shrink{
    from{
        transform: scale(1.0);
    }
    to{
        transform: scale(1.1);
    }
}

.spotify-embed{
    height:172px;
}
.lists-embed:hover{
    background-color:darksalmon;
    transform: translateY(-5px);
}
.lists-embed{
    padding: 10px;
    margin: 5px;
    background-color: wheat;
    /* padding-bottom: 30%; */
    border-radius: 12px;
    transition: 0.25s;
}

#game-player > iframe{
    display: none;
}
#game-player > iframe.selected-game{
    display: block;
}

#game-player{
    padding: 10px;
    background-color: wheat;
    margin-bottom: 10px;
}

.game-selector{
    background-color: #00000000;
    border: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding:10px 20px;
    transition: 0.2s;
    font-size: 1em;
    z-index: -9999;
}
.game-selector:hover{
    transform: translateY(5px);
}
.game-selector.selected-game{
    background-color:wheat;
    transform: translateY(5px);
}
